{% extends 'base.html' %}

{% block title %}
Contact | EAsybUy
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <h1>
      Do you have an inquiry? Feel free to contact us:
    </h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary w-100">Submit</button>
    </form>

  </div>
  <div class="col-md-6"></div>

  <h2>You can also give us a courtesy call...</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.764822017652!2d36.14233827349493!3d-0.29670963534207856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182993ff1f8dd2c1%3A0x25968c30eb0f6562!2sLanet%20Matfam%20Resort!5e0!3m2!1sen!2ske!4v1733333105296!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}