{% extends 'base.html' %}

{% block title %}
Property Details | EAsybUy
{% endblock %}

{% block content %}
{% load static %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Property Single</h1>
              <p class="mb-0">Discover the perfect blend of comfort, style, and functionality with {{ single.title }}, a stunning property located in {{ single.location }}</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Property Single</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Real Estate 2 Section -->
    <section id="real-estate-2" class="real-estate-2 section">

      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              },
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="{{ single.image1.url }}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{{ single.image2.url }}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{{ single.image3.url }}" alt="">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">

            <div class="portfolio-description">
              <h2>More about {{ single.title }}</h2>
              <p>{{ single.description }}</p>

<!--              <div class="testimonial-item">-->
<!--                <p>-->
<!--                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>-->
<!--                </p>-->
<!--                <div>-->
<!--                  <img src="{% static 'style/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">-->
<!--                  <h3>Sara Wilsson</h3>-->
<!--                  <h4>Agent</h4>-->
<!--                </div>-->
<!--              </div>-->
            </div><!-- End Portfolio Description -->

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#real-estate-2-tab1">Video</a></li>
<!--              <li><a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab2">Floor Plans</a></li>-->
              <li><a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab3">Location</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="real-estate-2-tab1">
                <iframe style="border:0; width: 100%; height: 400px;" src="{{ single.video_url }}" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div><!-- End Tab 1 Content -->

<!--              <div class="tab-pane fade" id="real-estate-2-tab2">-->
<!--                <img src="{% static 'style/img/floor-plan.jpg' %}" alt="" class="img-fluid">-->
<!--              </div>&lt;!&ndash; End Tab 2 Content &ndash;&gt;-->

              <div class="tab-pane fade" id="real-estate-2-tab3">
                <iframe style="border:0; width: 100%; height: 400px;" src="{{ single.map_url }}" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div><!-- End Tab 3 Content -->

            </div><!-- End Tab Content -->

          </div>
          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>{{ single.title }}</h3>
              <ul>
                <li><strong>Property ID:</strong>{{ single.key }}</li>
                <li><strong>Location:</strong>{{ single.location }}</li>
                <li><strong>Property Type:</strong>{{ single.type }}</li>
                <li><strong>Status:</strong>{{ single.status }}</li>
                <li><strong>Area:</strong> <span>{{ single.area }}m<sup>2</sup></span></li>
                <li><strong>Beds:</strong>{{ single.beds }}</li>
                <li><strong>Baths:</strong>{{ single.baths }}</li>
              </ul>
              <a href="{% url 'billing' single.id %}" class="btn btn-success" type="button">Reserve</a>
              <a href="{% url 'add_to_cart' single.id %}" class="btn btn-primary">Interested</a>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Real Estate 2 Section -->

  </main>
{% endblock %}